
html{
    font-family:Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size:62.5%
}
body{
    font-size:1.4rem
}

.sw-InputText{
    align-items:stretch;
    background-color:#fff;
    border:1px solid #eaeaea;
    border-radius:.2rem;
    display:flex;
    position:relative;
    transition:border-color .2s ease-in-out;
    will-change:border-color
}
.sw-InputText input{
    color:#1d1d1d;
    border:none;
    flex:1 1 auto;
    font-size:1.6rem;
    height:4rem;
    padding:1.4rem 1.7rem
}
.sw-InputText input::-moz-placeholder{
    color:#b6b6b6
}
.sw-InputText input:-ms-input-placeholder{
    color:#b6b6b6
}
.sw-InputText input::placeholder{
    color:#b6b6b6
}
.sw-InputText input:-webkit-autofill{
    box-shadow:inset 0 0 0 100em #fff
}

.sw-InputText input:focus{
    outline-style:none
}


.sw-InputText_Icon{
    background-position:center 1.2rem;
    background-repeat:no-repeat;
    background-size:1.6rem;
    flex-basis:3.2rem;
    max-width:3.2rem;
    opacity:0;
    transition:opacity .2s ease-in-out;
    will-change:opacity
}
.sw-InputText~.sw-InputText_Extra .sw-InputText_Message{
    color:#c65656;
    font-size:1.2rem;
    opacity:0;
    padding:0;
    max-height:0;
    margin:0;
    transition:max-height .2s ease-in-out,opacity .2s ease-in-out,padding .2s ease-in-out;
    will-change:max-height,opacity,padding
}
.sw-InputText.focus,.sw-InputText:hover{
    border-color:#666
}
.sw-InputText.focus input{
    outline-style:none
}

.sw-InputText.error{
    border-color:#c65656
}

.sw-InputText.error~.sw-InputText_Extra .sw-InputText_Message{
    max-height:3.6rem;
    opacity:1;
    padding:.4rem 0 .2rem
}
.sw-InputText.disabled input,input[disabled]{
    background-color:#f8f8f8;
    cursor:not-allowed;
    color:#666
}
.sw-InputText_Extra .tooltip{
    color:#666;
    font-size:1.2rem;
    margin-top:.3rem;
    text-align:right
}
.sw-InputText-enabled{
    background:#b6b6b6;
    cursor:auto;
    height:4rem;
    opacity:.5;
    position:absolute;
    width:100%;
    z-index:10
}


.recover-link{
    cursor:pointer;
    font-size:1.4rem;
    color:#666;
    text-align:center;
    margin-top:2rem;
    text-decoration:underline;
    display:block
}

.row{
    margin:1.6rem 0
}

.login-back-button{
    height:4.8rem;
    display:flex;
    background-color:#18b9b4;
    width:100%;
    position:absolute;
    bottom:0;
    left:0;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    cursor:pointer
}
.login-back-button>a{
    text-decoration:none;
    color:#fff
}
.login-submit-button{
    height:4rem;
    font-size:1.6rem
}
.login-terms{
    margin:2rem 0;
    color:#074f55;
    text-align:center
}
.login-terms a{
    color:#139490
}
.form-input-toggle>div{
    position:relative
}
.is-hidden,.noDisplay{
    display:none
}



.login-error-message{
    color:#c65656;
    font-size:1.2rem;
    opacity:1;
    margin:0
}
#login-toogle-password{
    font-size:1.2rem;
    z-index:10;
    right:0;
    position:absolute;
    top:.3rem;
    margin-right:1rem
}
#login-toogle-password.typed{
    margin-right:3rem
}
.login-password-input{
    position:relative
}
.form-input-toggle label input[type=checkbox]:checked+div>span{
    background-color:#fab751
}
.form-input-toggle label input[type=checkbox]:checked+div>span>span{
    left:2em
}
.form-input-toggle label:hover input[type=checkbox]+div>span,.form-input-toggle label input[type=checkbox]:focus+div>span{
    background-color:#666
}
.form-input-checkbox-radio label,.form-input-toggle label{
    cursor:pointer;
    display:block;
    text-align:right
}
.form-input-checkbox-radio label input[type=checkbox],.form-input-checkbox-radio label input[type=radio],.form-input-toggle label input[type=checkbox],.form-input-toggle label input[type=radio]{
    opacity:0;
    position:absolute
}
.form-input-checkbox-radio label input[type=checkbox]+div,.form-input-checkbox-radio label input[type=radio]+div,.form-input-toggle label input[type=checkbox]+div,.form-input-toggle label input[type=radio]+div{
    display:inline-table;
    vertical-align:middle
}
.form-input-checkbox-radio label input[type=checkbox]+div>span,.form-input-checkbox-radio label input[type=radio]+div>span,.form-input-toggle label input[type=checkbox]+div>span,.form-input-toggle label input[type=radio]+div>span{
    background-color:#fff;
    border:.25em solid #eaeaea;
    border-radius:2em;
    display:inline-block;
    height:2em;
    margin:.5em;
    outline:none;
    transition:border-color .15s ease-in-out,background-color .15s ease-in-out;
    vertical-align:bottom;
    width:2em
}
.form-input-checkbox-radio label input[type=checkbox]+div>p,.form-input-checkbox-radio label input[type=radio]+div>p,.form-input-toggle label input[type=checkbox]+div>p,.form-input-toggle label input[type=radio]+div>p{
    color:#09646c;
    text-decoration:underline;
    transition:color .15s ease-in-out;
    vertical-align:middle
}
.form-input-checkbox-radio label input[type=checkbox]:checked+div>span,.form-input-checkbox-radio label input[type=radio]:checked+div>span,.form-input-toggle label input[type=checkbox]:checked+div>span,.form-input-toggle label input[type=radio]:checked+div>span{
    background-color:#fab751
}
.form-input-checkbox-radio label:hover input[type=checkbox]:checked+div>span,.form-input-checkbox-radio label:hover input[type=radio]:checked+div>span,.form-input-checkbox-radio label input[type=checkbox]:focus:checked+div>span,.form-input-checkbox-radio label input[type=radio]:focus:checked+div>span,.form-input-toggle label:hover input[type=checkbox]:checked+div>span,.form-input-toggle label:hover input[type=radio]:checked+div>span,.form-input-toggle label input[type=checkbox]:focus:checked+div>span,.form-input-toggle label input[type=radio]:focus:checked+div>span{
    background-color:#f9a626;
    border-color:#f9a626
}
.form-input-toggle label input[type=checkbox]+div>span{
    background-color:#eaeaea;
    border-width:.125em;
    position:relative;
    width:4em
}
.form-input-toggle label input[type=checkbox]+div>span>span{
    background-color:#fff;
    border-radius:100%;
    display:inline-block;
    left:0;
    position:absolute;
    height:1.75em;
    width:1.75em;
    top:0;
    transition:left .15s ease-in-out
}
.modal-content.login-modal{
    z-index:2;
    max-width:50rem;
    width:90%;
    height:auto;
    max-height:90%;
    overflow:scroll
}
.modal-facebook-login{
    z-index:1;
    border-bottom:1px solid #eaeaea;
    height:100%;
    padding:3.6rem 0 2.2rem;
    margin:0 1.6rem;
    display:flex;
    flex-direction:row;
    justify-content:center
}
.modal-login-title{
    font-size:2.4rem;
    font-weight:700;
    text-align:center;
    color:#333;
    margin:4rem 1rem 0;
    display:flex;
    flex-direction:row;
    justify-content:center
}
@media only screen and (min-width:480px){
    #login-form{
        /*padding:1.2rem 5rem 6rem*/
        padding: 0rem 0rem 2rem;
    }
    .modal-content.login-modal{
        width:80%
    }
    .modal-login-title{
        font-size:3rem
    }
    .modal-facebook-login{
        margin:0 5rem
    }
}
a:focus,button:focus{
    outline:none
}
button.outlined:focus{
    outline-color:#18b9b4;
    outline-style:solid
}
button.btn{
    display:inline-block;
    border-radius:2px;
    box-shadow:0 1px 2px 0 rgba(0,0,0,.3);
    font-size:1.6rem;
    text-decoration:none;
    width:100%;
    min-height:4rem;
    max-height:5rem;
    padding:8px;
    padding-bottom:10px;
    transition:background-color .2s ease-in-out;
    will-change:background-color;
    cursor:pointer;
    z-index:10
}
.primary{
    border:1px solid #ff5859;
    color:#fff;
    background-color:#ff5859;
    font-weight:700
}
.primary:hover{
    background-color:#d94647
}
.primary:active{
    background-color:#ff7d7e;
    box-shadow:0 1px 1px 0 rgba(0,0,0,.5)
}
.secondary{
    border:1px solid #18b9b4;
    color:#fff;
    background-color:#18b9b4;
    font-weight:700
}
.secondary:hover{
    background-color:#139490
}
.secondary:active{
    background-color:#5ccdca;
    box-shadow:0 1px 1px 0 rgba(0,0,0,.5)
}
